
/* Your CSS Code here. */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
  margin: 0;
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
}

.player__video {
  width: 100%;
  display: block;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.player__button,
.player__slider {
  background: none;
  border: 0;
  color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.player__slider {
  width: 100px;
  margin: 0 10px;
}

.progress {
  flex: 10;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #444;
  height: 5px;
  margin: 0 10px;
}

.progress__filled {
  width: 50%;
  background: #ff0000;
  flex-basis: 0%;
  flex-grow: 0;
  flex-shrink: 0;
  transition: width 0.1s;
}
